body{
    background-image: url("https://images.pexels.com/photos/1122408/pexels-photo-1122408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center center;
  
    /* Make image fixed */
    background-attachment: fixed;

    /* Not repeat images */
    background-repeat: no-repeat;

    /* Set background size auto */
    background-size: auto;
    background-color: blue;
    background-size: 100% 100%;
}